<h1>Détails de {{jeu.titre}}</h1>
<p>Description: {{jeu.description}}</p>
<p>Date de sortie: {{jeu.dateSortie}}</p>
<p>Genre: {{jeu.genre.nom}}</p>
<p>Éditeur: {{jeu.editeur.nom}}</p>

<a href="/jeux/modification/{{jeu.id}}">Modifier le jeu</a>
<br>
<a href="/jeux/suppression/{{jeu.id}}">Supprimer le jeu</a>
<br>
<a href="/jeux">Retour à la liste des jeux</a>