{{!-- Détails d'un jeu individuel --}}
<h1>Détails de {{jeu.titre}}</h1>
<p>Description: {{jeu.description}}</p>
{{!-- Date déjà formatée côté serveur au format fr-FR --}}
<p>Date de sortie: {{jeu.dateSortie}}</p>
<a href="/genres/{{jeu.genre.id}}">Genre: {{jeu.genre.nom}}</a><br><br>
<a href="/editeurs/{{jeu.editeur.id}}">Éditeur: {{jeu.editeur.nom}}</a><br>
<p>Mis en avant: {{#if jeu.MisEnAvant}}Oui{{else}}Non{{/if}}</p>

<a href="/jeux/modification/{{jeu.id}}">Modifier le jeu</a>
<br>
<a href="/jeux/suppression/{{jeu.id}}">Supprimer le jeu</a>
<br>
<a href="/jeux">Retour à la liste des jeux</a>