<h1>Détails de {{editeur.nom}}</h1>


{{#each jeux}}
    <p>Jeu publié: <a href="/jeux/{{id}}">{{titre}}</a></p>
{{/each}}

<a href="/editeurs/modification/{{editeur.id}}">Modifier l'éditeur</a>
<br>

<a href="/editeurs/suppression/{{editeur.id}}">Supprimer l'éditeur</a>
<br>

<a href="/editeurs">Retour à la liste des éditeurs</a>