<h1>Détails de {{editeur.nom}}</h1>

<p>Jeux publiés :</p>
<ul>
    {{#each jeux}}
    <li><a href="/jeux/{{id}}">{{titre}}</a></li>
{{/each}}
</ul>


<a href="/editeurs/modification/{{editeur.id}}">Modifier l'éditeur</a>
<br>

<a href="/editeurs/suppression/{{editeur.id}}">Supprimer l'éditeur</a>
<br>

<a href="/editeurs">Retour à la liste des éditeurs</a>